.nav{
  display: flex;
  background-color:blue;
  color: white;
  justify-content: space-between;
  padding-left: 30px;
  height: 50px;
  align-items: center;
}
.Link{
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.one{
  width: 500px;
  font-size: 2cm;
}
.two{
  width: 400px;
}
.three{
  height: 700px;
  width: 800px;
}
.four{
  display: flex;
}
.Images{
  height: 20vw;
  width: 20vw;
}
.title{
  font-size: 20px;
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.price{
  font-size: 20px;
 
}
.header2{
  width: 300px;
  background-color:whitesmoke;
  margin: 10px;
  border-radius: 1px solid grey;
}
.Narvbar{
  background-color: blue;
 
display: flex;
align-items: center;
color: white;
justify-content: space-between;
padding-left: 30px;
}
.service{
  height:500px ;
  width: 600px;
}